<div class="row">
  <div class="col-lg-12">
    <div class="card border-primary">
      <div class="card-body">
        <h4 class="card-title">Numbers Frequency</h4>
        <form
          [formGroup]="form"
          class="form-inline mb-2"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group mx-sm-3 mb-2">
            <label for="userNumber" class="sr-only">Number</label>
            <input
              type="number"
              class="form-control"
              formControlName="userNumber"
              id="userNumber"
              name="userNumber"
              placeholder="Number"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary mb-2"
            [disabled]="!form.valid"
          >
            Enter
          </button>
        </form>
        <div class="row border-primary border-top">
          <div class="col-lg-12 p-2">
            <h4>
              Results
              <span *ngIf="currentCountDownValue"
                >(Refresh in {{ currentCountDownValue }}s)</span
              >
              <span *ngIf="!currentCountDownValue">(Refreshing)</span>
            </h4>
          </div>
          <div class="col-lg-6 offset-lg-1">
            {{ outputText }}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-lg-4">
            <button
              type="button"
              class="btn btn-primary mr-2"
              (click)="onHaltResume()"
            >
              {{ haltResumeButtonText }}
            </button>
            <button type="button" class="btn btn-danger" (click)="onQuit()">
              Quit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngb-toast
  header="Fibonacci"
  *ngIf="showToast"
  (hide)="showToast = false"
  [delay]="1500"
>
  <div>{{ currentFibonacciNumber }} is a FibonacciNumber</div>
</ngb-toast>
