<form [formGroup]="frequencyOutputForm" (ngSubmit)="onSave()">
  <div class="row">
    <div class="col-lg-12">
      <div class="card border-primary">
        <div class="card-body">
          <h4 class="card-title">Output Frequency</h4>

          <div class="col-lg-6">
            <div class="form-group">
              <label for="frequency">Output Frequency(seconds)</label>
              <input
                type="number"
                class="form-control"
                name="frequency"
                id="frequency"
                formControlName="frequency"
                aria-describedby="helpId"
                placeholder="Output Frequency"
              />
              <small id="helpId" class="form-text text-muted"
                >Please enter Output frequency</small
              >
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-lg-12">
              <button
                type="submit"
                [disabled]="!frequencyOutputForm.valid"
                class="btn btn-primary"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
