<div class="row">
  <div class="col-lg-12">
    <div class="card border-primary">
      <div class="card-body">
        <h4 class="card-title">Farewell</h4>
        <div class="row border-primary border-top">
          <div class="col-lg-12 p-2">
            <h4>Final Results</h4>
          </div>
          <div class="col-lg-6 offset-lg-1">
            <div *ngIf="outputText; else elseBlock">
              {{ outputText }}
            </div>
            <ng-template #elseBlock
              >No Results to Show.
            </ng-template>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-lg-4">
            <button
              type="button"
              class="btn btn-primary"
              (click)="onStart()"
            >
              Start Again
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
